.link-share-actions .sources {
  flex-wrap: wrap;
  margin-top: 0.5em;
  gap: 0.5em;
  width: 100%;
  .mobile-view & {
    font-size: var(--font-down-1); // need a little more space
  }
  .btn {
    margin: 0;
    min-width: 0;
    .d-button-label {
      min-width: 0;
      @include ellipsis;
    }
  }

  .btn-link-length {
    .desktop-view & {
      margin-left: auto;
    }
  }
}
